.image-slider{
    width: 80%;
    margin: 10px auto;
    // overflow: hidden;
    border: 2px solid black;
    position: relative;
    // @include center-flex;
    img{
        width: 100%;
    }
    .next-btn{
        position: absolute;
        right:10px;
        top:50%;
    }
    .previous-btn
    {
        position: absolute;
        left:10px;
        top:50%;
    }
}